@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
      background-color: antiquewhite;
}

*{
      margin: 0;
      padding: 0;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 44px;
    background-color: black;
    color: white;

}

nav ul li{
    padding: 0 12px;
    align-items: center;
    cursor: pointer;
}

.brand img{
    width: 55px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Figtree', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpeg');
    
}

.bottom{
    position:sticky;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
}